<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="rep-list.css">
    <title>Document</title>
</head>
<body>
    <section class="wrapper">
        <div class="search">
            <input type="text" class="input" placeholder="Введите название организации"/>
            <button class="search-button"></button>
        </div>
        <div class="git-repo">
            <div class="git-repo-tile">
                <img src="avatar.png" alt="organization image" class="git-repo-tile__img">
                <div class="git-repo-tile__content">
                    <h3 class="git-repo-tile__title">kts-school-frontend</h3>
                    <a href="" class="git-repo-tile__org-link">ktsstudio</a>
                    <div class="git-repo-tile__stats">
                        <div class="git-repo-tile__stats-views">
                            <span class="git-repo-tile__views">
                                <img src="star.png" alt="star icon" class="git-repo-tile__star">123
                            </span>
                        </div>
                        <div class="git-repo-tile__stats-update">Updated 21 Jul</div>
                    </div>
                </div>
            </div>
            <div class="git-repo-tile">
                <img src="avatar2.png" alt="organization image" class="git-repo-tile__img">
                <div class="git-repo-tile__content">
                    <h3 class="git-repo-tile__title">very-long-repository-name-and...</h3>
                    <a href="" class="git-repo-tile__org-link">ktsstudio</a>
                    <div class="git-repo-tile__stats">
                        <div class="git-repo-tile__stats-views">
                            <span class="git-repo-tile__views">
                                <img src="star.png" alt="star icon" class="git-repo-tile__star">123
                            </span>
                        </div>
                        <div class="git-repo-tile__stats-update">Updated 21 Jul</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>